Importamos pandas para trabajo de carga y transformación

In [1]:
import pandas as pd
import sqlalchemy

Carga de datos de CSV'S

In [64]:
df = pd.read_csv(r'Datasets relevamiento precios\precios_semana_20200413.csv' , sep=',' , encoding = 'utf-16-LE')
df2 = pd.read_csv(r'Datasets relevamiento precios\sucursal.csv' , sep=',' , encoding = 'utf-8' )

Transformación de archivos xlsx a CSV

In [121]:
df3_xlsx = pd.read_excel(r'Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx',  sheet_name= None)

In [122]:
df3_xlsx

{'precios_20200426_20200426':          precio sucursal_id   producto_id
 0         399.0     2-1-092  2.288000e+03
 1         299.0     2-1-206  2.288000e+03
 2         399.0     2-2-241  2.288000e+03
 3       49999.0     9-1-430  2.058700e+05
 4       53999.0       9-2-4  2.058700e+05
 ...         ...         ...           ...
 478904  13999.0      25-1-1  9.569753e+12
 478905   3499.0      25-1-1  9.795403e+12
 478906   3125.0       5-1-3  9.990386e+12
 478907   3125.0       5-1-3  9.990386e+12
 478908   1989.0       5-1-3  9.990386e+12

 [478909 rows x 3 columns],
 'precios_20200419_20200419':         precio          sucursal_id    producto_id
 0        29.90              2-1-184           2288
 1        39.90              2-1-206           2288
 2       499.99              9-1-430         205870
 3       539.99              9-2-107         205870
 4       539.99  5218-03-09 00:00:00         205870
 ...        ...                  ...            ...
 458538  139.99  2001-01-25 00:00:00  9569753142128
 458539   34.99  2001-01-25 00:00:00  9795403001143
 458540  312.50  2003-01-05 00:00:00  9990385651922
 458541  312.50  2003-01-05 00:00:00  9990385651939
 458542  198.90  2003-01-05 00:00:00  9990385651946

 [458543 rows x 3 columns]}

Se pueden concatenar las tablas de precio si es una carga inicial

In [66]:
df3_12 = pd.concat(df3_xlsx , ignore_index = True)

In [67]:
df3_csv = df3_12.to_csv(r'C:\Users\user\Desktop\Proyecto Individual n1\Datasets relevamiento precios\precios_semanas_20200419_20200426_csv', encoding='utf-8' , index = False)

In [2]:
df3 = pd.read_csv(r'C:\Users\user\Desktop\Proyecto Individual n1\Datasets relevamiento precios\precios_semanas_20200419_20200426_csv' , encoding='utf-8' , low_memory = False)

Transformación de archivo JSON a CSV

In [6]:
df4_json = pd.read_json (r'Datasets relevamiento precios\precios_semana_20200503.json')
df4_csv = df4_json.to_csv (r'C:\Users\user\Desktop\Proyecto Individual n1\Datasets relevamiento precios\precios_semana_20200503_csv' ,  index = False)

In [11]:
df4 = pd.read_csv(r'C:\Users\user\Desktop\Proyecto Individual n1\Datasets relevamiento precios\precios_semana_20200503_csv' , dtype = 'str')

Transformación de archivo TXT a CSV

In [71]:
df5_txt = pd.read_csv(r'Datasets relevamiento precios\precios_semana_20200518.txt' , sep= '|' )
df5_csv = df5_txt.to_csv (r'Datasets relevamiento precios\precios_semana_20200518_csv' , index = False)

In [72]:
df5 = pd.read_csv(r'Datasets relevamiento precios\precios_semana_20200518_csv' , dtype = 'str')

Transformación de archivo PARQUET a CSV

In [73]:
df6_parquet = pd.read_parquet(r'Datasets relevamiento precios\producto.parquet')
df6_csv = df6_parquet.to_csv (r'Datasets relevamiento precios\producto_csv' , index = False)

In [74]:
df6 = pd.read_csv(r'Datasets relevamiento precios\producto_csv')

Analizamos los datos

DF1

In [75]:
#df.tail()
df.isnull().sum()
#df.describe()

precio         13
producto_id    15
sucursal_id    15
dtype: int64

DF2

In [76]:
df2.head()
#df2.isnull().sum()
#df2.describe()
#df2.head()

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

DF3

Eliminamos los datetime de la columna sucursal_id

In [78]:
df3['sucursal_id'] = df3['sucursal_id'].apply(lambda x: x.split(' ')[0])

In [79]:
#df3.tail()
#df3.describe()
#df3.isnull().sum()
#df3.info()

DF4

In [81]:
#df4.tail()
df4.isnull().sum()

precio         2124
producto_id       0
sucursal_id       0
dtype: int64

DF5

In [82]:
#df5.head()
df5.isnull().sum()

precio         1960
producto_id       6
sucursal_id       6
dtype: int64

DF6

In [83]:
df6.head()

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
0,0000000001663,LA ANÓNIMA,Radicheta Atada La Anonima 1 Un,1.0 un,NaN,NaN,NaN
1,0000000002288,LA ANÓNIMA,Perejil Atado La Anonima 1 Un,1.0 un,NaN,NaN,NaN
2,0000000205870,SIN MARCA,Ojo de Bife 1 Kg,1.0 kg,NaN,NaN,NaN
3,0000000205894,SIN MARCA,Milanesa de Peceto Novillito 1 Kg,1.0 kg,NaN,NaN,NaN
4,0000000205955,SIN MARCA,Chiquizuela Novillito 1 Kg,1.0 kg,NaN,NaN,NaN

In [84]:
df6.isnull().sum()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

Concatenamos las tablas de ventas para testear , pero vamos a utilizar carga incremental

In [97]:
df_ventas= pd.concat([df,df4,df5] , ignore_index=True)

In [98]:
df_ventas.tail()

         precio    producto_id sucursal_id
1285188  149.99  9569753142128      25-1-1
1285189   34.99  9795403001143      25-1-1
1285190   312.5  9990385651922       5-1-4
1285191   312.5  9990385651939       5-1-4
1285192   198.9  9990385651946       5-1-4

Normalizamos la tabla de ventas unificando cantidad de caracteres en la columna id_producto y eliminando decimales

In [99]:
def normalizar_id_producto(id):
    if (type(id))!=str:
        return id
    cantidad_caracter = len(id)
    if (len(id)<13):
        id = '0'*(13-cantidad_caracter)+id
    if('.' in id):
        id= id[0 :id.find('.')]
    return id

In [100]:
df_ventas_normalizadas=normalizar_id_producto(df_ventas)